body {
  font-family: Arial;
  background: #111;
  color: white;
  padding: 20px;
}

input {
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.story {
  background: #222;
  padding: 10px;
  margin-bottom: 10px;
}

.delete {
  background: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
}
